@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200&family=Josefin+Slab:wght@100&family=Michroma&family=Overpass+Mono:wght@300&family=Syncopate&family=Thasadith&family=Tsukimi+Rounded:wght@300&display=swap");
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(269deg, #e8e8e8, #c5c5c5, #aaaaaa);
  background-size: 600% 600%;
  background-repeat: no-repeat;
  animation: AnimationName 50s ease infinite;
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-left: inherit;
  padding-right: inherit;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.to-do-app {
  padding-bottom: 20px;
  padding-left: inherit;
  padding-right: inherit;
  width: -webkit-fill-available;
  font-size: 20px;
  text-shadow: rgba(214, 225, 239, 0.6) 2px 2px 2px, rgb(0, 0, 0) 0px 0px 0px, rgba(214, 225, 239, 0) 2px 2px 2px;
  text-transform: uppercase;
  line-height: 0.8;
  letter-spacing: 3px;
  font-family: "Bai Jamjuree", sans-serif;
  background: rgb(224, 224, 224);
  box-shadow: rgb(68, 68, 68) 15px 15px 20px;
  border-radius: 20px;
  position: relative;
  z-index: 100;
}

.card-list {
  padding-bottom: 20px;
  padding-left: inherit;
  padding-right: inherit;
  width: -webkit-fill-available;
  height: 185px;
  margin-left: 20px;
  font-size: 20px;
  text-shadow: rgba(214, 225, 239, 0.6) 2px 2px 2px, rgb(0, 0, 0) 0px 0px 0px, rgba(214, 225, 239, 0) 2px 2px 2px;
  text-transform: uppercase;
  line-height: 0.8;
  letter-spacing: 3px;
  font-family: "Bai Jamjuree", sans-serif;
  background: rgb(224, 224, 224);
  box-shadow: rgb(68, 68, 68) 15px 15px 20px;
  border-radius: 20px;
  position: relative;
  z-index: 100;
}

.button2 {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  cursor: pointer;
}

.button2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button2:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #009087;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button2:hover {
  color: #ffffff;
  border: 1px solid #009087;
}

.button2:hover:before {
  top: -35%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button2:hover:after {
  top: -45%;
  background-color: #009087;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
  transition: 0.3s;
  width: 80%;
}

.input:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.top-container {
  display: flex;
  background-color: rgba(241, 241, 241, 0.231372549);
  height: 500px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  font-family: "Righteous", cursive;
  letter-spacing: 10px;
  border-radius: 20px;
  box-shadow: 5px 4px 20px rgba(63, 63, 63, 0.25);
}

.main-1 .fundo {
  background-image: url("../Pictures/kisspng-cloud-computing-international-cloud-atlas-cloud-5af2bd9c3812e1.5207156415258576922297.png");
  opacity: 0.2; /* Corrigi a opacidade para um valor entre 0 e 1 */
  animation: cloudsAnimation 30s linear infinite;
  position: absolute;
  top: 0;
  left: 0; /* Adicionei a propriedade left para definir a posição inicial */
  width: 100%; /* Defina a largura da imagem */
  height: auto; /* Mantenha a proporção original da imagem */
  background: transparent;
  z-index: 0;
}

@keyframes cloudsAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(calc(100% + largura_da_imagem)); /* Mova até o limite da tela */
  }
}
.title-top h1 {
  font-size: 100px;
  text-shadow: 2px 2px 2px rgba(214, 225, 239, 0.6), 0 0 0 #000, 2px 2px 2px rgba(214, 225, 239, 0);
}

.title-top p {
  bottom: 20%;
  position: relative;
  font-size: 20px;
  text-shadow: 2px 2px 2px rgba(214, 225, 239, 0.6), 0 0 0 #000, 2px 2px 2px rgba(214, 225, 239, 0);
}

.header {
  padding: 10px 16px;
  background: rgba(0, 0, 0, 0.7333333333);
  color: #f1f1f1;
  border-radius: 20px;
  position: relative;
  z-index: 1000;
}

.content {
  padding: 16px;
  margin-top: 10px;
  color: #000000;
  box-shadow: 20px 4px 20px rgba(63, 63, 63, 0.25);
  font-family: "Space Mono", monospace;
  color: rgba(201, 215, 230, 0.5);
  text-shadow: 2px 2px 2px rgba(214, 225, 239, 0.6), 0 0 0 #000, 2px 2px 2px rgba(214, 225, 239, 0);
  background-color: #e8e8e8;
  overflow-x: auto;
}

.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: width 2s ease-in-out;
  border-radius: 0px 0px 10px 10px;
}

.sticky + .content {
  padding-top: 102px;
}

.menuitems p {
  margin: 16px;
  font-size: 96px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 1s ease-in-out;
  position: relative;
}
.menuitems p::before {
  content: attr(data-item);
  transition: all 1s ease-in-out;
  color: #54ffa1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}
.menuitems p:hover::before {
  width: 100%;
}

nav .menuItems {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
nav .menuItems li {
  margin: auto;
}
nav .menuItems li a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 24px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6), 0 0 0 #000, 2px 2px 2px rgba(214, 225, 239, 0);
}
nav .menuItems li a::before {
  content: attr(data-item);
  transition: 0.5s;
  color: #54ff7f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}
nav .menuItems li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.content h1 {
  font-size: 5.25vmin;
  text-align: center;
  color: white;
}

.content p {
  font-size: max(10pt, 2.5vmin);
  line-height: 1.4;
  color: #0e390e;
  margin-bottom: 1.5rem;
}

.wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 25em;
  margin: 10px auto;
  border-radius: 20px;
  -o-border-image: linear-gradient(-50deg, green, #00b300, forestgreen, green, lightgreen, #00e600, green) 1;
     border-image: linear-gradient(-50deg, green, #00b300, forestgreen, green, lightgreen, #00e600, green) 1;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: relative;
  display: flex;
  width: 100%;
  padding: 1rem 0.75rem;
  background: #edffed;
  transition: 0.4s ease-in-out;
  z-index: 1;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vmin;
  padding: 0.5rem 0 0 0.5rem;
  border: 3px solid;
  -o-border-image: linear-gradient(to bottom, #AEA724 5%, forestgreen 35% 65%, #AEA724 95%) 0 0 0 100%;
     border-image: linear-gradient(to bottom, #AEA724 5%, forestgreen 35% 65%, #AEA724 95%) 0 0 0 100%;
  transition: 0.3s ease-in-out 0.2s;
  z-index: 1;
}

.p-card-1 {
  width: 850px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 2px;
  text-shadow: 1px 1px 10px darkgray;
}

.p-card-2 {
  width: 850px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 2px;
  text-shadow: 10px 10px 10px darkgray;
}

.image-content-1 {
  position: absolute;
  top: 0;
  right: 15px;
  width: 30%;
  height: 100%;
  background-image: url(../Pictures/co2.png);
  background-size: cover;
  transition: 0.3s ease-in-out;
}

.image-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vmin;
  height: 100%;
  background-image: url("https://assets.codepen.io/4787486/trees.png");
  background-size: cover;
  transition: 0.3s ease-in-out;
  /* border: 1px solid green; */
}

.inset {
  max-width: 50%;
  margin: 0.25em 1em 1em 0;
  border-radius: 0.25em;
  float: left;
}

.dots {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 55px;
  height: 4vmin;
  transition: 0.3s ease-in-out 0.3s;
}

.dot {
  width: 14px;
  height: 14px;
  background: rgba(255, 255, 0, 0.589);
  border: 1px solid indigo;
  border-radius: 50%;
  transition: 0.3s ease-in-out 0.3s;
}

.text {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 3vmin 4vmin;
  background: #fff;
  box-shadow: inset 1px 1px 15px 0 rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
  color: #000;
}

.wrap-ativado .overlay {
  transform: translateX(-100%);
}
.wrap-ativado .image-content {
  width: 30vmin;
}
.wrap-ativado .dots {
  transform: translateX(1rem);
}
.wrap-ativado .dots .dot {
  background: white;
}

/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-fill-mode: backwards;
}

/* Pop In */
.pop {
  animation-name: pop;
}

@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
/* Slide In */
.slide {
  animation-name: slide;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(4em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
/* Slide Left */
.slide-left {
  animation-name: slide-left;
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.slide-up {
  animation-name: slide-up;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(3em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.delay-1 {
  animation-delay: 0.3s;
}

.delay-2 {
  animation-delay: 0.6s;
}

.delay-3 {
  animation-delay: 0.9s;
}

.delay-4 {
  animation-delay: 1.2s;
}

.delay-5 {
  animation-delay: 1.5s;
}

.delay-6 {
  animation-delay: 1.8s;
}

.delay-7 {
  animation-delay: 2.1s;
}

.delay-8 {
  animation-delay: 2.4s;
}

.cards {
  display: flex;
  text-align: center;
  cursor: pointer;
  transition: all 400ms ease 0s;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
}

.card {
  padding: 10px;
  padding-bottom: 0;
  padding-top: 0;
  width: -webkit-fill-available;
  transition: 400ms;
  background: radial-gradient(178.94% 106.41% at 26.42% 106.41%, #FFF7B1 0%, rgba(255, 255, 255, 0) 71.88%), #FFFFFF;
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border-style: solid;
  border-color: darkgreen;
  margin: 10px;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: 0.7em;
}/*# sourceMappingURL=Index.css.map */